NODE_ENV=development

DB_PORT=5432
DB_HOST=transaction-service-db
DB_PASSWORD=test
DB_NAME=transaction_db
DB_USER=test

HTTP_PORT=3000
HTTP_HOST=0.0.0.0
HTTP_SCHEME=http

ACCOUNT_SERVICE_GRPC_HOST=account-service
ACCOUNT_SERVICE_GRPC_PORT=3000
ACCOUNT_SERVICE_GRPC_URL=${ACCOUNT_SERVICE_HOST}:${ACCOUNT_SERVICE_PORT}

SERVICE_DISCOVERY_HTTP_URL=http://service-discovery:3000
SERVICE_DISCOVERY_HEALTHCHECK_INTERVAL=30
SERVICE_DISCOVERY_RETRY_INTERVAL=5000
SERVICE_DISCOVERY_REQUEST_TIMEOUT=5000

REDIS_HOST=shared-cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=default
REDIS_PASSWORD=test

MAX_CONCURRENT_TASKS=5

GRPC_HOST=dns:///0.0.0.0
GRPC_PORT=3100
GRPC_SCHEME=http
GRPC_RATE_LIMIT_TTL=10000
GRPC_RATE_LIMIT_LIMIT=5